body {
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}
.reg-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#galswitchpanel {
  height: 50px;
  width: 100%;
  background-color: rgb(15, 15, 15);
}

.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #850000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

input:checked + .slider {
  background-color: #00851d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(115px);
  -ms-transform: translateX(115px);
  transform: translateX(115px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
  font-size: large;
}

.oswald-400 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#pages {
  opacity: 0.8;
  background-color: #ccc;
  position: fixed;
  width: 200%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow: hidden;
  position: relative;
  display: flex;
  transition: transform 0.6s ease-in-out;
}

#pages iframe {
  width: 50%; 
  height: 100%;
  border: none;
  flex-shrink: 0;
}

#galbody {
  background-color: #850000;
}

#chatbody {
  flex-direction: row;
}

html,
body {
  overflow-x: hidden;
}
html,
body {
  height: calc(100vh); 
  margin: 0;
  padding: 0;
}
#channels {
  width: 15%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start !important;
  border-right: 2px solid rgb(10, 10, 10);
}

.ht{
  height: 20px;
  width: 20px;
}

#messages {
  width: 85%;
  gap: 0px;
}
#messagelist{
  height: 100%;
  width: 100%;
}
#channelinfo{
  width: 100%;
  height: 5%;
  background-color: #222222;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}
#messager{
  height: 10%;
  width: 100%;
}

#channelbanner {
  width: 100%;
}

.megaphone {
  height: 80%;
  aspect-ratio: 1/1;
}

.announcementchannel {
  width: 100%;
  height: 20px;
  padding: 3px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
}
#announcements {
  width: 100%;
}
.announcementchannel:hover {
  background-color: #4e4e4e;
}
.textchannel:hover {
  background-color: #4e4e4e;
}
.soundchannel:hover {
  background-color: #4e4e4e;
}
#text-channels {
  width: 100%;
}
#soundchannels {
  width: 100%;
}
.textchannel {
  width: 100%;
  height: 20px;
  padding: 3px;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 3px;
}
.soundchannel {
  width: 100%;
  height: 20px;
  padding: 3px;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 3px;
}
p {
  margin: 0px;
  color: white;
  text-align: center;
}

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
button {
  border-color: transparent;
  background-color: transparent;
  width: 100%;
}

hr {
  background-color: #4e4e4e;
  border: 1px solid #4e4e4e;
  border-radius: 5px 5px 5px 5px;
  height: 1px;
  width: 80%;
}
.league-spartan-400 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform: translateY(2px);
}
.vcp {
  height: 300px;
  aspect-ratio: 3/5;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  gap: 17px;
}
.vcp img {
  margin-top: 10px;
  border-radius: 100%;
  width: 80%;
}
#cti{
  margin-left: 10px;
}
.vcp p {
  text-align: center;
  font-size: larger;
}
.vcp canvas {
  border: transparent;
  width: 110%;
  height: 30px;
  background-color: transparent;
}

p{
  margin-block-end: 0em;
  margin-block-start: 0em;
}
#mutedico {
  border-radius: 0;
  height: 20px;
}
.grecaptcha-badge {
  visibility: hidden !important;
}

#messager {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  position: relative;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 10px;
}

.textarea-container {
  flex-grow: 1; 
  position: relative;
  margin-right: 10px; 
  height: 40px; 
}

#upwardGrowTextarea {
  width: 100%;
  min-height: 40px;
  overflow: hidden; 
  resize: none; 
  box-sizing: border-box;
  border: 5px solid #2e2e2e;
  background-color: #2e2e2e;
  border-radius: 5px;
  font-size: 16px;
  line-height: 2;
  color: white;
  position: relative; 
}
#upwardGrowTextarea:focus {
  border-color: rgb(37, 54, 102); 
  outline: none; 
}

#sendbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

#sendbutton img {
  height: 40px;
  width: 40px;
}

#picker{
  margin-right: 10px;
  margin-left: auto;
  margin-bottom: 10px;
  --border-size: 0px;
  --border-radius: 10px;
  z-index: 10;
}
#emojitoggle{
  font-size: 20px;
  width: 40px;
  height: 40px;
}
.message{
  padding-top: 5px;
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: column;
}
.message img{
  margin-left: 10px;
  height: 30px;
  border-radius: 100%;
}
.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.message p{
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}
.messinf{
  flex-direction: row;
  margin-left: 3px;
  margin-right: auto;
}
.usernamemes{
  margin-left: 5px !important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
.mescontent{
  margin-left: 0px;
  margin-right: auto;
}
.message:hover{
  background-color: #4e4e4e;
}